<launch>
<arg name="gdb"                default="true"/>
<arg name="launch-prefix"      default=""/>
    <node pkg="base_estimation" type="base_estimation_node" name="centauro_base_estimation" output="screen" launch-prefix="$(arg launch-prefix)">

     

    <param name="ik_problem" textfile="$(find centauro_horizon)/config/centauro_base_estimation.yaml"/>
    <param name="rate" value="200.0"/>
    <param name="contact_attach_thr" value="100.0"/>
    <param name="contact_release_thr" value="50.0"/>
    <param name="velocity_filter/omega" value="100.0"/>
    <param name="contact_release_thr" value="50.0"/>
    <param name="point_contacts" type="yaml" value="[contact_1, contact_2, contact_3, contact_4]"/>
    <param name="use_imu" value="true"/>
    <param name="publish_tf" value="true"/>

    <remap from="/robot_description" to="/xbotcore/robot_description"/>
    <remap from="/robot_description_semantic" to="/xbotcore/robot_description_semantic"/>

</node>

</launch>
